plotly
pandas
polars
pyarrow
plotnine
duckdb==1.2
seaborn
ipywidgets
jupyter
ipykernel
voila
itables
datawrapper
tabulate
dotenv
pathlib
dash
scikit-learn
requests
folium
great-tables
tabulate
google-auth
gspread
shiny
shinywidgets
geopandas
shapely
matplotlib
folium
mapclassify