/* css styles */

h1, h2, h3 {
    color: #34495e;
    text-align: left;
}

body {
    font-family: "Open Sans";
    font-size: 12pt;
    color:  #4d5656 ;
    line-height: 1.5;
    max-width: 1150px;
}

p {
    text-align: justify;
}

a {
    color:#41618b;
    text-decoration: none;
}

code {
    color: rgb(44, 161, 161);
    font-size: 12;
}

a:hover {
    text-decoration: underline;
}
