/* styles.css */

body {
  color: #28282b;
}

h1 {
  color: #003049;
}

/* Style links using the main blue color */
a {
  color: #1f7a8c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.subtitle {
  color: #1f7a8c;
  font-size: 24px;
}

h2, h3, h4 {
  color: #1f7a8c;
}

p {
  text-align: justify;
}
